body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h3, h4{
  margin: 0 0 1% 2%;
}
p{
  margin: 0 0 1% 4%;
}
span{
  margin-left: 1%;
}
.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.card {
  display: block;
}
.header {
  text-align: center;
}
.tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 75%;
  border: 9px outset #1c6ea4;
  border-radius: 18px;
  margin: 1%;
}

